table.dataTable tbody td{
  font-size: 1rem !important;
}

table.dataTable thead th{
  font-size: 1.2rem !important;
}
.dataTables_filter input{
  text-align: center;
  padding: 5px 15px !important;
}
.dataTables_length{
  direction: rtl;
}
.buttons-print{
margin-left: 10px;
background: #2b94da;
color: white;
border: 2px black solid;
border-radius: 25px;
padding: 5px 15px;
cursor: pointer;
}

div.dataTables_wrapper div.dataTables_processing {
  background-color: rgb(6, 47, 114) !important;
  color: white !important;
  font-size: 1.2rem !important;
  width: 50% !important;
}
.dataTables_paginate, .dataTables_info{
  font-size: 1rem !important;
}